body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container {
    border: 1px solid red;
    width: 90%;  /*720px;*/
    margin: 0 auto;
    background: #fff;
    min-width: 790px;
    max-width: 1100px;
}

#marca {
    width: 100%;
    height: 300px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 300px;
}

#conteudo {
    border: 1px solid red;
    width: 75%; /*520px;*/
    float: right;
}

#navegacao {
    border: 1px solid red;
    width: 24%; /*180px;*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#conteudo-principal {
    border: 1px solid red;
    width: 64%; /*320px;*/
    float: left;
}

#conteudo-principal h2 {
    padding-left: 20px;
}
#conteudo-principal p {
    text-align: justify;
    text-indent: 7px;
    padding: 0px 10px;
}

img.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    border: 1px solid red;
    width: 33% ; /*180px;*/
    margin-right: 8px;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}



#navegacao ul {
    list-style-type: none;
}
#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

